h1 {
    color: red;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.veggie {
    color: green;
    font-size: 15px;
}

#first-item {
    border-top: solid grey;
}
